{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="m-5 p-4">
        <!-- LOGIN FORM -->
        <div class="col-lg-5 rounded mx-auto border pt-4 w-50">
            <div class="text-center col">
                <img src="{% static '/img/clothes.png' %}" alt="Clothes image" style="height: 100px;">
                <div class="display-8">Login Into Account</div>
                <hr>
            </div>

            <form class="site-form" action="{% url 'store:login' %}" method="POST">
                {% csrf_token %}

                {% for field in form %}
                    <label class="list-group"> {{ field.label_tag }} </label>

                    {{ field }} <br>

                    {% if field.help_text %}
                        <small class="text-muted mt-2"> {{ field.help_text }} </small>
                    {% endif %}

                    {% for error in field.errors %}
                        <p role="alert" class="text-danger mb-0"> {{ error }} </p>
                    {% endfor %}
                {% endfor %}

                <div class="form-group mt-3">
                    <input class="btn btn-sm btn-info" type="submit" value="Login">
                </div>
            </form>
        </div>

        <!-- BOTTOM LINKS -->
        <div class="mx-auto col-lg-5 mt-2">
            <div class="pull-left d-inline-block">
                <a class="text-dark" href="{% url 'store:signup' %}"><u>Signup instead?</u></a>
            </div>
            <div class="pull-right d-inline-block">
                <a class="text-dark" href="{% url 'store:index' %}"><u>Go to Homepage?</u></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}